# Python
__pycache__/
*.pyc
venv/
.env
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb

# Raw data files (tracked by DVC, NOT Git)
/data/MachineLearningRating_v3.txt
/data/raw/
/data/raw/**
/data/*.csv
/data/*.txt
/data/*.parquet
/data/*.xlsx
/data/*.xls


# DVC cache (ignore these, they're large)
.dvc/cache/
.dvc/tmp/
.dvc/updates
.dvc/plots/

# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db